@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="texture" @ref=_img></div>
	<div class="text">@($"In Shadow: {InShadow}")</div>
</root>

@code
{
	public static Panel _img;
	public static bool InShadow;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Delta);

	protected override void OnPreRender()
	{

	}
}
